@using Web.Helpers
@{
    ViewBag.Title = "Emissão de documento de transporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Emissão de documento de transporte</h4>
<div class="row">
    <table>
        <thead>
            <tr>
                <th>Selecionar</th>
                <th>Número NF</th>
                <th>Data</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pedido in ViewBag.Pedidos)
            {
                <tr>
                    <td>
                        @Html.CheckBoxSimple("selecionar", new { @class = "filled-in", value = @pedido.IdPedidoCliente })
                        @Html.Label(" ", new { @for = "selecionar" })
                    </td>
                    <td>@pedido.Numero</td>
                    <td>@pedido.Data</td>
                </tr>
            }
            <tr>
                <td>
                    <a onclick="ListagemEmitirDocTransp.emitir();" class="waves-effect waves-light btn mobile-button"><i class="material-icons right">send</i>Emitir documentos</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
