@using Web.Helpers
@{
    ViewBag.Title = "Pedidos pendentes de envio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Pedidos pendentes de envio</h4>
<div class="row">
    <table>
        <thead>
            <tr>
                <th>Selecionar</th>
                <th>Número NF</th>
                <th>Data</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pedido in ViewBag.Pedidos)
            {
                <tr>
                    <td>
                        @Html.CheckBoxSimple("selecionar", new { @class = "filled-in", value = @pedido.IdPedidoCliente })
                        @Html.Label(" ", new { @for = "selecionar" })
                    </td>
                    <td>@pedido.Numero</td>
                    <td>@pedido.Data</td>
                </tr>
            }
            @if (ViewBag.Pedidos != null)
            {
                if (ViewBag.Pedidos.Count > 0)
                {
                    <tr>
                        <td>
                            <a onclick="ListagemPendentesDeEnvio.enviar();" class="waves-effect waves-light btn mobile-button"><i class="material-icons right">send</i>Enviar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@Scripts.Render("~/Scripts/listagemPendentesEnvio")
