
@{
    ViewBag.Title = "Compras Aguardando Recebimento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Compras Aguardando Recebimento</h4>
<br />
<table>
    <thead>
        <tr>
            <th>Número NF</th>
            <th>Data</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compra in ViewBag.compras)
            {
            <tr>
                <td>@compra.NumeroNF</td>
                <td>@compra.Data</td>
                <td>
                    <a data-id="@compra.IdCompra" class="waves-effect waves-light btn" onclick="ListagemNaoRecebidas.receber_notafiscal(@compra.IdCompra);">
                        <i class="material-icons right">system_update_alt</i>
                        Receber NF
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>



@Scripts.Render("~/Scripts/listagemNaoRecebidas")
